@using Microsoft.AspNetCore.Identity;



<div class="nav-header">Account Management</div>
<div class="nav-content">
@if (User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name!</p>
  @using (Html.BeginForm("LogOff", "Accounts"))
  {
    <input type="submit" class="btn btn-primary" value="Log out" />
  }
}
else
{
  <p>@Html.ActionLink("Register", "Register")</p>
  <p>@Html.ActionLink("Log in", "Login")</p>
}
