.btn.btn-primary {
	background-color: #000;
	border-radius: 25px;
	border-image: linear-gradient(to right, hotpink, skyblue);
	border-image-slice: 1;
	border-image-width: 5px;
}

.btn.btn-primary:hover {
	text-decoration: underline;
}
	

body {
	background-color: black;
	display: grid;
	place-items: center;
	color: white;
	padding-top: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.nav-content{
	padding-inline: 50px;
	display: grid;
	background: transparent;
	place-items: center;
	text-align: center;
	margin: 0;
	background-color: #000;
	border-radius: 25px;
}

.container {
	display: grid;
	background: transparent;
	place-items: center;
	justify-content: center;
	align-content: center;
}

.navbar {
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: #000;
	z-index: 999;
	padding: 0 20px;
	border-radius: 25px;
}

.body-container {
	padding-inline: 50px;
	display: grid;
	background: black;
	place-items: center;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 25px;
}

ul.navbar-nav {
	display: top;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: transparent;
}

.nav-header {
	font-size: 1.4em;
	font-weight: 600;
	color: #fff;
	background-color: #000;
}

a {
	font-size: 1.4em;
	font-weight: 600;
	color: #fff;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
}

ul{
	text-align: left;
}