@using IEPCompanion.Models;

@{
  Layout = "_Layout";
}


<h4>People</h4>
@if(Model.Count == 0)
{
  <p>none yet</p>
}
<ul>

  @foreach (Person person in Model)
  {
    <li>@Html.ActionLink($"ID: {person.PersonId} {person.LastName}, {person.FirstName}", "Details", "Peoples" , new { id = person.PersonId })</li>
  }

</ul>

@Html.ActionLink("Add Person", "Create");