@model IEPCompanion.Models.IEP

<div class="nav-header">Create a new IEP</div>
<br>
<div class="body-container">
@using (Html.BeginForm()) {

    <label>IEP Name (FORMAT: StudentLastNameStudentFirstName_Year): </label>
    @Html.TextBoxFor(model=> model.IEPSummary)

    <input type="submit" value="Next" class="btn btn-primary"/>
}

