@{
  Layout = "_Layout";
}

@model IEPCompanion.Models.IEP

<h2>Create a new IEP</h2>

@using (Html.BeginForm())
{
  
  @Html.HiddenFor(model => model.IEPId)

  @Html.DropDownList("StudentId")
  @Html.DropDownList("TeacherId")

  <input type="submit" value="Create" />
  
}