@{
  Layout = "_Layout";
}

@model IEPCompanion.Models.IEP

<h2>Create a new IEP</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.IEPId)

  @Html.Label("Select a student:")
  @Html.DropDownListFor(model => model.IEPId, new SelectList(ViewBag.Students, "IEPId", "FullName"))

  <input type="submit" value="Create" />
}

@Html.DropDownListFor(model => model.PersonId, new SelectList(Model.IEP, "FirstName", "LastName"))

  <input type="submit" value="Create" />
  
}