@{
  Layout = "_Layout";
}
@using IEPCompanion.Models

<div class="nav-header">IEP</div>
<div class="body-container">

  @Html.ActionLink("Add IEP", "Create", "IEPs")

  <h4>IEP Listing</h4>
  @if (Model["ieps"].Length == 0)
  {
    <p>No IEPs have been added yet!</p>
  }
  else
  {
    <table>
      <thead>
        <tr>
          <th>IEP Summary</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        @foreach (IEP iep in Model["ieps"])
        {
          <tr>
            <td>@iep.IEPSummary</td>
            <td>@Html.ActionLink("View Details", "Details", new { id = @iep.IEPId })</td>
          </tr>
        }
      </tbody>
    </table>
  }

</div>

