@{
  Layout = "_Layout";
}

@using IEPCompanion.Models;

@if(User.Identity.IsAuthenticated)
{
  <div class="body-container">
    @Html.ActionLink("View All IEPs", "Index", "IEPs", null, new { @class = "btn btn-primary" })
    <br>
  </div>
}
else {
  <p>Please login to use our services.</p>
}

